<template>
  <div>
    <v-app>
      <v-app-bar app></v-app-bar>

      <!-- Sizes your content based upon application components -->
      <v-main>
        <!-- Provides the application the proper gutter -->
        <v-container fluid>
          <v-form @submit.prevent="create">
            <v-container>
              <v-row class=".d-flex">
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="form.firstname"
                    value="text"
                    :counter="10"
                    label="NAME"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="form.lastname"
                    value="text"
                    :counter="10"
                    label="SINGER"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="3">
                  <v-file-input
                    multiple
                    label="File input"
                    value="text"
                    required
                    v-model="form.src"
                  ></v-file-input>
                </v-col>
                <v-btn class="success" type="submit" :disabled="!canCreate">create music</v-btn>
              </v-row>
            </v-container>
            <div class="d-flex">
              <v-btn
                class="play"
                @click="play"
                color="primary"
                style="margin-left:10px;"
                glossy
              >Play</v-btn>
              <v-btn @click="pause" color="primary" style="margin-left:10px;" glossy>Pause</v-btn>
            </div>
          </v-form>
          <div class="row">
            <div class="col-lg-12">
              <v-switch class="mx-2" label="Switch Color" @change="toggleColor"></v-switch>
            </div>
          </div>
          <div class="d-flex">
            <h2>{{ current.firstname }}-</h2>
            <h2>{{ current.lastname }}</h2>
            <h2>{{ current.src }}</h2>
          </div>
          <div v-if="contacts.length">
            <v-card class="mx-auto" max-width="500">
              <v-list v-cloak>
                <v-list-item
                  v-for="contact in contacts"
                  :key="contact.src"
                  @click="play(contact)"
                  :class="
                    contact.src == current.src ? 'contact playing' : 'contact'
                  "
                >
                  <v-list-item-avatar>
                    <v-icon large color="blue darken-2">mdi-album</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <h3
                      v-text="contact.firstname"
                      :style="{ color: contact.marked ? 'red' : 'black' }"
                    ></h3>
                    <v-list-item-subtitle v-text="contact.lastname"></v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-action>
                    <v-btn text small @click="removeMusic(contact.id)">Remove</v-btn>
                  </v-list-item-action>
                </v-list-item>
              </v-list>
            </v-card>
          </div>
          <h4 v-else class="have text-center">You are not have musics ,please create a new music</h4>
        </v-container>
      </v-main>

      <v-footer app>
        <!-- -->
      </v-footer>
    </v-app>
  </div>
</template>

<script>
export default {
  data: () => ({
    form: {
      firstname: "",
      lastname: "",
      src: "",
      isColor: false,
    },
    current: {},
    index: 1,
    contacts: [
      {
        id: "1",
        firstname: "Behruz",
        lastname: "DUMSTER",
        marked: false,
        src: require("./assets/Гарик_Погорелов_Мне_тебя_так_мало.mp3"),
      },
      {
        id: "2",
        firstname: "DUMSTER",
        lastname: "YOU ARE SO LESS",
        marked: false,
        src: require("./assets/HENSY_Да_подальше_все_пошло_поболело_и_прошло.mp3"),
      },
    ],
    player: new Audio(),
  }),
  computed: {
    canCreate() {
      return (
        this.form.firstname.trim() && this.form.lastname.trim() && this.form.src
      );
    },
  },
  mounted() {
    console.log(this.isColor);
  },
  methods: {
    play(song) {
      if (typeof song.src != "undefined") {
        this.current = song;
        this.player.src = this.current.src;
      }
      this.player.play();
      this.isPlaying = true;
    },
    toggleColor(value) {
      this.isColor = value;
    },
    pause() {
      this.player.pause();
      this.isPlaying = false;
    },
    create() {
      const { ...contact } = this.form;
      console.log(contact);
      this.form.firstname = this.form.lastname = this.form.src = "";
      this.contacts.push({ ...contact, id: Date.now(), marked: false });
    },
    markMusic(id) {
      const contact = this.contacts.find((c) => c.id == id);
      contact.marked = true;
    },
    removeMusic(id) {
      this.contacts = this.contacts.filter((c) => c.id !== id);
    },
  },
  created() {
    (this.current = this.contacts.src[this.index]),
      (this.player.src = this.current.src);
  },
};
</script>
<style>
.have {
  color: green;
  text-transform: uppercase;
  font-size: 30px;
}
[v-cloak] {
  display: none;
}
.d {
  display: flex;
}
.isColor {
  background-color: black;
}
</style>
